body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* padding-bottom: 1000px; */
}

.mobileList{
    font-size: 2.3rem;
    display: none;
    padding-right: 2%;
    display: none;
}

.bgg{
    position: absolute;
    top: 66%;
    right: 0;
    width: 40%;
    height: 50vh;
    background-color:lightblue;
    display: none;
    transform: translateX(900px) translateY(-50px);
    transition: 1s linear;
}
.bgg ul{
    gap: 40px;
    color: black;
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}
.sq{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgb(156, 212, 231);
    /* color:blue; */
    animation: rotateSquare  9s infinite linear;
}


@keyframes rotateSquare {
    from {
        transform: rotate(6deg);
    }
    to {
        transform: rotate(366deg);
    }
}

.name{
    max-width: 900px;
    padding-left: 7%;
    font-weight: bold;
    font-size: 1.6rem;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 99;
    padding: 1%;
}
.lists{
    width: 600px;
    padding-right:5% ;
}
.lists ul{
    display: flex;
    justify-content:space-evenly;
}
li{
    font-weight: 100;
     font-size: 1.2rem;
    cursor: pointer;
    display: inline;
    list-style: none;
}
li:hover{
    color: rgb(112, 112, 255);
}


@media screen and (max-width:720px) {

    .lists{
        display: none;
    }

    .mobileList:hover .bgg{
        transform:translateX(0px) translateY(-50px);
     }
     .bgg{
        display: block;
     }
    .mobileList{
        display: block;
    }

    
    
}