.bg{
    position: relative;
    width: 40%;
    height: 90vh;
    background-color:#f4ece6;
}
.card{
    position:absolute;
    left: 19%;
    top:25%;
    display: flex;
    max-width: 800px;
    margin: 0 auto;

}

.pic{
    border-radius: 10px;
    transition: 2s;
    max-width: 46%;
    padding-left: 9%;
    padding-right:8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background-color:#f4ece6;
    transform: translateX(-15%);
    animation:bs 2s 2s forwards;
    
}
@keyframes bs2 {

    to{
    }
    
}
@keyframes bs {
    
    to{
        transform: translateX(15px);
    box-shadow: 1px 8px 22px rgb(136, 136, 136);

    }
    
}
.prof{
    margin-top: 2rem;
    border-radius: 100px;
}

.line{
    width: 100px;
    height: 1px;
    background-color: blue;
}
.desc{
    max-width:53%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: white; */
    padding:2% 4% 0 4%;
    font-weight: bold;
    font-size: 5rem;
}
.btns{
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    color: black;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 40px;
    padding: 2%;
    padding-left:7%;
    padding-right:7%;
    cursor: pointer;
}

button:hover{
    background-color:rgb(70, 70, 255);
    transition: 0.7s;
    color: white;
}
.obj{
    line-height: 25px;
    margin-top: 2rem;
    margin-bottom:2rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.sidebar{
    position: absolute;
    background-color:rgb(164, 218, 237);
    /* right: 0%; */
    top: 40%;
    height: 150px;
    width: 40px;

    
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: space-evenly;
    transition: 1.1s;
    opacity: 0;
    animation:sider 2s 2s forwards;
}


@keyframes sider {
    from{
        transform: translateX(-35px)
    }

    to{
        right: 0;
        display: flex;
        opacity: 1;
    }
    
}

.projectbtn{
    border: none;
    color: white;
    background-color: blue;
}

.projectbtn:hover{
    transition: 0.7s;

    border: 1px solid black;
    color: black;
    background-color: transparent;
}
.footer{
    position: absolute;
    background-color:white;
    height: 4rem;
    width: 100%; 
    /* display: none; */
}

.footer p{
    margin: 0;
    margin-bottom:0.5rem ;
}
.footer div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:720px) {
    .sidebar{
        animation: none;
    }
    .card{
        background-color:rgb(232, 228, 229);
        justify-content: center;
        flex-direction: column;
        left: 5%;
        max-width:90%;
        gap: 20px;
        
    }
    .bg{
       margin-top:110% ;
        background-color:rgb(232, 228, 229);
        width:100%;
     
    }
    .pic{
        background-color:rgb(232, 228, 229);
         box-shadow: 1px 8px 22px rgb(90, 90, 90);
        border-radius: 10px;
        padding-bottom:7%;
        max-width: 100%;
    }
    .projectbtn{
        background-color: rgb(100, 100, 255);
    }
    .footer{
        padding-top: 4%;
    }
    .desc{

        background-color: none;
        max-width: 100%;
    }

    .prof{
        width:120px;
        height:120px;
    }
    .sidebar{
        width: 45px;
        top: 100%;
    }

    .footer p{
        margin-right: auto;
    }


    .lin{
        margin-left:-80px;
        visibility: hidden;
    }
    
}